*.pyc
/venv/lib/python3.11/site-packages/annotated_doc-0.0.4.dist-info
/venv/lib/python3.11/site-packages/cv2/.dylibs
venv/lib/python3.11/site-packages/fontTools/feaLib/variableScalar.py
/venv
*.py
*.dylib
*.txt
/hackathon-env
